* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}


body {
    min-height: 100vh;
    /* display: flex;
    justify-content:center;
    align-items: center; */
    display: grid;
    grid-template-columns: 2fr 2fr;

}

.box {
    position: relative;
    max-width: 700px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    cursor: grab;
    opacity: 1;
    box-shadow: 20px 10px 30px 30px rgb(185, 190, 192);
    margin-left: 4rem;
    margin-top: 2rem;
    /* height: 80%; */

}

.out-div {
    /* border: 1px solid black; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin-right: 80px;
    
}


/* step up form */

.indicator {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    /* margin-bottom: 34px; */
}

.indicator .line {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 3px;
    background: #ddd;
    width: 100%;
    left: 0;
    z-index: 10;
}

.red {
    border: red;
}

.indicator .line span {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 0%;
    background: #543a66;
    color: green;
    border-color: 2px solid green;
}


.indicator p {
    position: relative;
    z-index: 20;
    width: 40px;
    height: 40px;
    border: 4px solid #ddd;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    border-radius: 50%;
    transition: .3s;
}

.indicator p.active {
    border-color: #8c40a5;
    color: var(--purple);
}


/*  */



/* .tab */
.tab {
    display: none;
    height: 90%;
}

.tab.show {
    display: block;
}

/*  */

/* button */
.input-box-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
    margin-top: 20px;
}

.input-box-btn button {
    padding: 10px 10px;
    border: none;
    outline: none;
    width: 100%;
    /* background: #a963be; */
    cursor: pointer;
}

.input-box-btn button.prev {
    background-color: #eee;
}

.input-box-btn button.next {
    background-color: #a47cb1;
}

.input-box-btn button.submit {
    background-color: #a47cb1;
}

/* button */

header {
    font-weight: 700;
    margin-bottom: 1rem;
}

h4 {
    font-weight: 100;
    border: 1px solid lightblue;
    text-align: center;
    font-size: 1.5rem;
    background-color: rgb(233, 229, 238);
    border-radius: 30px
}

.box .form {
    margin-top: 30px;
}

.form .input-box {
    width: 100%;
    margin-top: 20px;
}

.input-box label {
    color: black;
    font-weight: 500;
}

.input-box input {
    position: relative;
    height: 50px;
    width: 100%;
    padding: 0 15px;
    outline: none;
    font-size: 1rem;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid lightblue;
    background-color: rgb(233, 229, 238);
    transition: .75s;
}

.select-box {
    position: relative;
    height: 50px;
    width: 100%;
    padding: 0 15px;
    outline: none;
    font-size: 1rem;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid lightblue;
    background-color: rgb(233, 229, 238);
    transition: .75s;
}

.form .out-box {
    display: flex;
    column-gap: 15px;
}

.Gender-box {
    margin-top: 10px;
    max-width: 100%;
}

.gender-inner-box {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-top: 5px;
    /* margin-bottom: 10px; */
}

/* gender box gender option gender */
.gender-option {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    /* font-stretch: expanded; */
    row-gap: 15px;
    transition: 0.5s;
}

.gender-option:hover {
    transform: scale(1.1);
}


.ch-box {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin-top: 30px;
    padding: 10px;
}

.ch-box label {
    margin: 0px 5px;
    font-size: 1.1rem;
    max-width: 100%;
}

.ch-box input {
    transform: scale(1.03);
}

input:hover {
    transform: scale(1.04);
}

.regform {
    padding: 10px;
    margin-top: 10px;
    font-optical-sizing: none;
    background-color: rgb(227, 224, 235);
    transition: 1s;
    text-align: center;
    border-radius: 10px;
    font-family: 'Tahoma';
    font: 2em Arial, sans-serif;
}

.regform:hover {
    transform: scale(1.02);
    /* box-shadow: 5px 10px rgb(238, 228, 228,0.4); */
}

input[type=submit] {
    background-color: #6337a0;
    color: white;

}

.check-box {
    margin-top: 20px;
}



/* Message Box */
#message {
    display: none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

#message-email {
    display: none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

#phNum-sp {
    display: none;
    background-color: #f1f1f1;
    color: black;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

#phNum-sp p {
    padding: 10px 35px;
    font-size: 18px;
}

#message-email p {
    padding: 10px 35px;
    font-size: 18px;
}

#message p {
    padding: 10px 35px;
    font-size: 18px;
}

.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
}

.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}

span {
    color: red;
}


.table-div {
    padding: 10px;
    border: 1px solid r#dee7ec;
    margin-right: 20px;
    overflow-x: auto;
    box-shadow: #a47cb1;
    background-color: rgb(241, 233, 233);
    box-shadow: 10px 20px 10px 20px #dee7ec;
    z-index: 1;
}

table {
    border: 2px solid #dee7ec;
    width: 30%;
    border-collapse: collapse;
    text-align: left;
    background-color: white;
}

table caption {
    padding: 10px 20px;
    margin: 20px 5px 40px 5px;
    border: 1px solid lightblue;
    border-radius: 50px;
    background-color: #dee7ec;
    box-shadow: 20px 10px 30px 30px rgb(185, 190, 192);
}

th {
    background-color: #dee7ec;
    padding: 0.75rem 1rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: .7rem;
    font-weight: 600;
}

td{
    padding: 1rem 1rem;
}

tr:nth-child(odd){
  background-color: #f0f3f5;
}


.input-box .error {
    /* border: 2px solid #ff3860;; */
    color: #ff3860;;
    /* display: none; */
}

.input-box.success input{
    border-color: #09c372;
}
.input-box.error input{
    border-color: #ff3860;
}


table>caption {
    font-size: 2rem;
}

.red {
    background-color: red;
    width: 100%;
}

.btn-prop {
    width: 5rem;
    height: 3rem;
    color: white;
    font-size: 1.1rem;
}

.green {
    background-color: green;
    width: 100%;
}


@media screen and (max-width: 650px) {
    .out-box {
        flex-wrap: wrap;
    }
}


@media screen and (max-width: 650px) {
    .ch-box {
        margin-top: 10px;
        padding-top: 10px;
    }
    .out-div{
        margin: 0;
    }
    .box{
        margin: 0;
    }
}


@media screen and (max-width: 650px) {
    body {
        display: grid;
        grid-template-columns: 1fr;
    }

    .table-div {
        margin-left: 0;
        margin-top: 30px;
        margin-right: 0;
    }

    .box {
        margin-left: 0;
    }
}